opencv-python==4.11.0.86
matplotlib==3.10.3
pyrender==0.1.45
tqdm==4.67.1
trimesh==4.6.13
smplx==0.1.28
scikit-image==0.25.2
chumpy==0.70
torch==2.7.1
torchvision==0.22.1
Cython==3.1.2
-e git+https://github.com/facebookresearch/detectron2.git@b15f64ec4429e23a148972175a0207c5a9ab84cf#egg=detectron2